//////////////////////////
// Colors
//////////////////////////

$anchor-color: #de935f;
$page-background-color: #282a2e;
$background-color: #1d1f21;
$header-footer-background-color: #373b41;
$visited-anchor: #d4712b;
$text-color: #dbdbdb;
$muted-text-color: #aaa;
$card-background-color: #373b41;
